* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h1-container {
  height: 100px;
  display: flex;
  background-color: rgb(56,96,170);
  border-top: 5px solid rgb(255,203,3);
  border-bottom: 5px solid rgb(255,203,3);
  justify-content: center;
  align-items: center;
}

h1 {
  display: inline;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  color: rgb(255,203,3);
  text-transform: uppercase;
}

.main-container {
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  display: absolute;
}

.button {
  color: rgb(255,203,3);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 4px solid ;
  border-radius: 5px;
  background-color: rgb(56,96,170);
  padding: 5px;
  cursor: pointer;
}

.pokemon-container {
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  margin: 80px auto;
  border: 10px solid rgb(255,203,3);
  border-radius: 10px;
  width: 100%;
  height: 400px;
  text-align: center;
}

.content {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
  margin-top: 50px;
  margin-right: 10px;
}

img {
  margin-top: 25px;
  width: 110%;
}

span {
  font-family: 'Robot', sans-serif;
  font-size: 22px;
  color: rgb(255,203,3);
}